@media (max-width: 1920px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width:960px) {
    main {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:850px) {
    .pokedex {
        max-width: 100%;
        zoom: 0.88;
    }
}

@media (max-width:750px) {
    .logo {
        display: none;
    }

    main {
        padding-left: 4px;
        padding-right: 4px;
    }

    .pokedex {
        max-width: 100%;
        zoom: 0.78;
    }
}

@media (max-width:660px) {
    .pokedex {
        transform: rotate(90deg);
        zoom: 0.55;
        scale: 1.5;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 30px;
        margin-bottom: -6px;
        padding-top: 26px;
    }

    #search {
        right: 70px;
    }

    .pokedex {
        zoom: 0.4;
        scale: 1.57;
    }
}

@media (max-width:450px) {
    .pokedexLeft {
        max-width: 600px;
        aspect-ratio: 5.5 / 7;
    }

    .pokedexMid {
        aspect-ratio: 1 / 58;
        max-height: fit-content;
        height: auto;
    }

    .pokedexRight {
        max-width: 600px;
        aspect-ratio: 5.5 / 7;
    }
}

@media (max-width:395px) {
    .pokeBox {
        width: 118px;
        height: 192px;
    }

    #search {
        right: 66px;
    }

    h2 {
        font-size: 18px;
    }

    .types {
        padding: 14px;
        padding-bottom: 0;
    }

    .stats {
        padding-left: 10px;
        padding-top: 0;
        font-size: 14px;
        bottom: -4px;
    }

    .pokedex {
        zoom: 0.35;
        scale: 1.6;
    }
}