body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: #01033c;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
}

.noScroll {
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 4px;
    left: 12px;
    height: 150px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #ffcd05;
    font-family: Pokemon Solid;
    background-color: #01033c;
    text-shadow: -3px -1px 0 #3a5aa6, 3px -1px 0 #3a5aa6, -3px 1px 0 #3a5aa6, 3px 1px 0 #3a5aa6;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    text-transform: capitalize;
}

h3 {
    position: relative;
    top: -40px;
    font-size: 26px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    justify-content: center;
}

#search {
    font-family: VT323;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 100px;
}

.pokeBox {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 6px;
    width: 156px;
    height: 240px;
    margin: 4px;
    padding: 8px;
    background-color: #fae439;
    cursor: pointer;
    font-family: VT323;
}

.pokeGIF {
    height: 100px;
    align-self: center;
    object-fit: cover;
    max-width: 154px;
}

.pokeGIF:hover {
    scale: 1.2;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.85) 10px, transparent 20px),
        radial-gradient(circle, rgba(255, 255, 255, 0.4) 15px, transparent 25px);
    background-size: 100px 100px, 50px 50px;
    background-blend-mode: overlay;
    background-repeat: repeat;
}

.card:hover {
    filter: saturate(2);
}

.types {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    text-transform: capitalize;
}

.stats {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-bottom: 6px;
    bottom: -8px;
    position: relative;
}

.loadButton {
    width: 200px;
    height: 62px;
    color: #ffcd05;
    background-color: black;
    font-family: Pokemon Solid;
    text-shadow: -3px -1px 0 #3a5aa6, 3px -1px 0 #3a5aa6, -3px 1px 0 #3a5aa6, 3px 1px 0 #3a5aa6;
    border-radius: 50px;
}

.loadButton:hover {
    box-shadow: rgba(255, 255, 255, .3) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
}

.buttonBox {
    width: 100%;
    order: 152;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.loadingSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    height: 50%;
    animation: spin 1s linear infinite;
}

.spinnerText {
    margin-top: 16px;
    font-size: 30px;
    color: #ffcd05;
    font-family: Pokemon Solid;
    text-shadow: -3px -1px 0 #3a5aa6, 3px -1px 0 #3a5aa6, -3px 1px 0 #3a5aa6, 3px 1px 0 #3a5aa6;
    font-weight: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    font-family: VT323;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.showOverlay {
    display: flex !important;
}

.displayNone {
    display: none !important;
}
